MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=CHANGE_ME_DIFFERENT_STAGING_ROOT_PASSWORD
MONGO_DATABASE=money_lending_staging
STAGING_MONGO_DATABASE=money_lending_staging
MONGO_APP_USERNAME=money_lending_staging_app
MONGO_APP_PASSWORD=CHANGE_ME_DIFFERENT_STAGING_APP_PASSWORD
MONGO_REPLICA_KEY=CHANGE_ME_DIFFERENT_STAGING_REPLICA_KEY
STAGING_HTTP_PORT=8081
STAGING_CORS_ORIGINS=http://127.0.0.1:8081
